.element-mod-width {
    width: 100%;
    max-width: 24rem;
}

ion-label.label-mod {
    padding-top: 0.5rem;
}

ion-item.invalid {
    --highlight-color-valid: var(--ion-color-danger);
}

.p-v {
    padding-top: 5px;
    padding-bottom: 5px;
}