<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <!-- Futuro menu? -->
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Titulo de pantalla -->
    <ion-title>
      <h4 class="ion-no-margin">Productos</h4>
    </ion-title>
    <ion-buttons slot="end">
      <!-- Botón de búsqueda -->
      <ion-button routerLink="/search-product">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <!-- Botón de filtrado -->
      <ion-button>
        <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
    <ion-refresher-content refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <products-component [products]="products" [noElements]="noElements" noElementsDetail="Empieza a agregarlos">
  </products-component>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/product">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>