<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios">
      <h4 class="ion-no-margin">Todos los Productos</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
    <ion-refresher-content refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size-xl="4" size-md="6" size="12" *ngFor="let product of products">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">{{product.nombre}}</ion-card-title>
            <ion-card-subtitle *ngIf="product.other_names.length>0">
              <ion-text color="dark">
                Otros nombres:
              </ion-text> {{product.other_names.join(', ')}}
            </ion-card-subtitle>
          </ion-card-header>
          <div class="scroll-horizontal">
            <ion-chip *ngFor="let tag of product.tags" color="primary">
              <ion-label>{{tag.nombre}}</ion-label>
            </ion-chip>
          </div>
          <ion-item *ngFor="let sale_price of product.sale_prices" lines='full'>
            <b>Precio de venta x {{sale_price.unit.nombre}}:&nbsp;</b>
            <ng-container *ngIf="sale_price.detalle < 0.1; else elseTemplate">
              {{1/sale_price.detalle | number:'1.0-2'}} x S/.1
            </ng-container>
            <ng-template #elseTemplate> S/. {{sale_price.detalle| number:'1.2-2'}}
            </ng-template>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <div id="container" *ngIf="noElements">
      <strong>No hay productos</strong>
      <p>Empieza a agregarlos</p>
    </div>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/product">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>