<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <!-- Futuro menu? -->
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Titulo de pantalla -->
    <ion-title>
      <h4 class="ion-no-margin">Productos</h4>
    </ion-title>
    <ion-buttons slot="end">
      <!-- Botón de búsqueda -->
      <ion-button routerLink="/search-product">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <!-- Botón de filtrado -->
      <ion-button>
        <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
    <ion-refresher-content refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size-xl="4" size-md="6" size="12" *ngFor="let product of products">
        <ion-card>
          <ion-item class="ion-float-right no-inner-end" lines="none">
            <ion-buttons slot="end" class="ion-no-margin">
              <!--Historical data of prices of product-->
              <ion-button color="secondary">
                <ion-icon slot="icon-only" name="analytics-outline"></ion-icon>
              </ion-button>
              <!--Edit Product-->
              <ion-button color="tertiary" (click)="toEditProduct(product.id)">
                <ion-icon slot="icon-only" name="open-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-card-header>
            <ion-card-title color="dark">{{product.nombre}}</ion-card-title>
            <ion-card-subtitle *ngIf="product.other_names.length>0">
              Otros nombres: {{product.other_names.join(', ')}}
            </ion-card-subtitle>
          </ion-card-header>
          <div class="scroll-horizontal">
            <ion-chip *ngFor="let tag of product.tags" color="primary">
              <ion-label>{{tag.nombre}}</ion-label>
            </ion-chip>
          </div>
          <ion-item *ngFor="let sale_price of product.sale_prices" lines='full' class="ion-text-center">
            <ion-text color="dark">
              <b>Precio de venta x {{sale_price.unit.nombre}}:&nbsp;</b>
              <ng-container *ngIf="sale_price.detalle < 0.1; else elseTemplate">
                {{1/sale_price.detalle | number:'1.0-2'}} x S/.1
              </ng-container>
              <ng-template #elseTemplate> S/.{{sale_price.detalle| number:'1.2-2'}}
              </ng-template>
            </ion-text>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <div id="container" *ngIf="noElements">
      <strong>No hay productos</strong>
      <p>Empieza a agregarlos</p>
    </div>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/product">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>